<launch>
    <!-- Start Gazebo with custom world (ground plane + sun + camera) -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find ex_robot1_gazebo)/world/ex_robot1.world"/>
    </include>

    <!-- Load URDF to parameter server -->
    <param name="robot_description"
        command="$(find xacro)/xacro '$(find ex_robot1_description)/urdf/ex_robot1.urdf'" />

    <!-- Spawn the URDF model into Gazebo -->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model ex_robot1" />
</launch>
