<?xml version="1.0"?>
<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ex_robot1_gazebo)/world/ex_robot1.world"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server-->

   <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find ex_robot1_description)/urdf/ex_robot1.urdf -urdf -model ex_robot1" />
    <param name="robot_description"  command="$(find xacro)/xacro '$(find ex_robot1_description)/urdf/ex_robot1.urdf'" />

    </launch>
