<launch>
    <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

    <!-- Load URDF to parameter server -->
    <param name="robot_description"
        command="$(find xacro)/xacro '$(find ex_robot1_description)/urdf/ex_robot1.urdf'" />

    <!-- Publish joint states as TF transforms (for RViz visualization) -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- RViz : set Fixed Frame to 'world' after launch -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

    <!-- GUI sliders to control joint angles interactively -->
    <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
</launch>
